body {
	padding-top : 50px;
	padding-bottom : 20px;
}

textarea {
	resize: vertical;
}

button:focus {
	outline: none !important;
}

audio {
	margin: 0 4px -8px 4px;
}

.single-form {
	padding: 20% 0;
}

.vertical-block {
	padding: 10px 0;
}

.play-btn {
	margin: 0 4px;
	padding: 0 4px;
	border: none;
}

#logoutBtn {
	padding-top: 15px;
	float: right;
}

#replay {
	margin: 0;
	display: none;
}

#chat p {
	line-height: 3;
	word-wrap: break-word;
}